.admin__field-control {
    position: relative;
}
.field-icon {
    position: absolute;
	z-index: 2;
	right: 17px;
	top: 5px;
}
.toggle-password.eye-close {
    top: 6px;
}
.field-icon.toggle-password.eye-close::before{
    content:url('../images/eye-close.svg');
}
.field-icon.toggle-password.eye-open::before{
    content:url('../images/eye-open.svg');
}