.control {
    position: relative;
}
.field-icon {
    position: absolute;
	z-index: 2;
	right: 17px;
	top: 14px;
}
.field-icon.eye-close {
    position: absolute;
	z-index: 2;
	right: 17px;
	top: 15px;
}
.field-icon.toggle-password.eye-close::before{
    content:url('../images/eye-close.svg');
}
.field-icon.toggle-password.eye-open::before{
    content:url('../images/eye-open.svg');
}
.account-benefit-block ul li{
	border-bottom: 1px solid #f0ede8;
}
.pt_account .grid .account-options li.underline {
    border-bottom: 1px solid #f0ede8;
}